.github/**
.vscode/**
.vscode-test/**
.vscode-test.mjs
coverage/**
docs/**
node_modules/**
out/**
scripts/**
src/**
test/**
**/*.map
**/*.ts
tsconfig*.json
eslint.config.mjs
esbuild.mjs
vitest.config.mts
.editorconfig
.gitattributes
.gitignore
.nvmrc
.prettierrc.json
.prettierignore
